body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.payment-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 16px;
}

.return-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

.return-button a {
    text-decoration: none;
    color: #fff;
}

.return-button:hover {
    background-color: #0056b3;
}